{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/components": "./components",
          "@/hooks": "./hooks",
          "@/app": "./app",
          "@/types": "./types"
        }
      }
    ]
  ]
}
