{
  "presets": [
    "next/babel",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript",
    ["@babel/preset-react", { "runtime": "automatic" }]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@/components": "./components",
          "@/hooks": "./hooks",
          "@/app": "./app",
          "@/types": "./types"
        }
      }
    ]
  ]
}
