.table-container {
  background: $white;
  border: 1px solid rgba(33, 63, 125, 0.06);
  border-radius: 8px;
  overflow: hidden;
  padding: 3rem;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 10px;
    text-align: left;
  }

  th {
    font-size: 1.2rem;
    color: $secondary-color;
    text-transform: uppercase;
    line-height: 14.08px;

    p {
      font-weight: 600;
    }
  }

  td {
    font-size: 1.4rem;
    line-height: 16.42px;
    border-bottom: 1px solid $light-grey;
    padding-bottom: 16px;
    margin-bottom: 10px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}

.action-btn {
  position: relative;

  &__icon {
    cursor: pointer;
  }
}

.filter-popup,
.actionIcon-popup {
  top: 100%;
  left: auto;
  right: 0;
  transform: none;
}

.actionIcon-popup {
  top: 0%;
}
