$secondary-color: #213f7d;
$primary-color: #545f7d;
$teal-color: #39cdcc;

$green: #3ab795;
$dark-green: #00966e;
$light-green: #ade0d1;
$light-green-2: #def3ed;
$light-green-3: #c2e9cd;

$black: #222222;
$dark-grey: #737a91;
$dark-grey-2: #646464;
$silver-grey: #b8b8b8;
$grey: #fcfcfc;
$light-grey: #dfe2e6;
$light-grey-1: #f6f6f6;
$light-grey-2: #e6e6e6;
$light-grey-3: #f9f9f9;

$white: #fff;
$light: #f6f7f9;
