$secondary: #213f7d;
$primary: #545f7d;

$black: #222222;
$dark-grey: #737a91;

$grey: #fcfcfc;
$light-grey: #dfe2e6;

$white: #fff;
$light: #f6f7f9;

$teal: #39cdcc;
$light-teal: #f3fcfc;
$red: #e4033b;

$green: #39cd62;
$yellow: #e9b200;
